# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/WebApi/bin/
backend/WebApi/obj/

# Local database
backend/WebApi/*.db
backend/WebApi/*.db-shm
backend/WebApi/*.db-wal

# User/editor files
.vs/
.vscode/